In [2]:
import pandas as pd

# 1. Create DataFrames
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [2, 3, 4], 'Salary': [60000, 70000, 80000]})

print(df1, "\n\n", df2)

   ID     Name
0   1    Alice
1   2      Bob
2   3  Charlie

    ID  Salary
0   2   60000
1   3   70000
2   4   80000

In [3]:
inner_join = pd.merge(df1,df2,how='inner',on='ID') # if you don't specify 'how' do you want to merge them, it will use 'inner' as default
print(inner_join)

   ID     Name  Salary
0   2      Bob   60000
1   3  Charlie   70000

In [4]:
left_join = pd.merge(df1,df2,how='left') #keep the data of the first dataset and merge the data that can match with the second dataset
print(left_join)

   ID     Name   Salary
0   1    Alice      NaN
1   2      Bob  60000.0
2   3  Charlie  70000.0

In [5]:
right_join = pd.merge(df1,df2,how='right') #keep the data of the second dataset and merge the data that can match with the first dataset
print(right_join)

   ID     Name  Salary
0   2      Bob   60000
1   3  Charlie   70000
2   4      NaN   80000

In [6]:
outer_join = pd.merge(df1,df2,how='outer') #Keep both of their data and fill the non-matches with "NaN"
print(outer_join)

   ID     Name   Salary
0   1    Alice      NaN
1   2      Bob  60000.0
2   3  Charlie  70000.0
3   4      NaN  80000.0

In [7]:
# 1. Create DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'], 
        'Age': [25, 30, 35, 40, 45], 
        'Salary': [50000, 60000, 70000, 80000, 90000]}
df = pd.DataFrame(data)

In [8]:
firstQuery = df.query("Age>= 30 and Age <= 40 ")
print(firstQuery)
print()

age_filter = df[(df['Age'] >= 30) & (df['Age'] <= 40)]
print(age_filter)

      Name  Age  Salary
1      Bob   30   60000
2  Charlie   35   70000
3    David   40   80000

      Name  Age  Salary
1      Bob   30   60000
2  Charlie   35   70000
3    David   40   80000

In [9]:
secondQuery = df.query("Name.str[0] == 'A' or Name.str[0] == 'C'")

nameFilter = df[(df['Name'].str[0] == 'A') | (df['Name'].str[0] == 'C' )]

name_filter = df[df['Name'].str.startswith(('A', 'C'))] # you can fill it with a list

print(secondQuery)

      Name  Age  Salary
0    Alice   25   50000
2  Charlie   35   70000

In [10]:
# 1. Create DataFrame
data = {'Department': ['HR', 'HR', 'Tech', 'Tech', 'Finance'], 
        'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'], 
        'Salary': [50000, 55000, 70000, 75000, 60000]}
df = pd.DataFrame(data)

In [11]:
pivot = df.pivot_table(values=['Salary'], index=['Department','Employee'], aggfunc=['mean'])

secondPivot = df.pivot_table(values=['Salary'], index=['Department'], columns=['Employee'],  aggfunc=['mean'])

print(pivot, "\n\n", secondPivot)

                        mean
                      Salary
Department Employee
Finance    Eve       60000.0
HR         Alice     50000.0
           Bob       55000.0
Tech       Charlie   70000.0
           David     75000.0

                mean
             Salary
Employee      Alice      Bob  Charlie    David      Eve
Department
Finance         NaN      NaN      NaN      NaN  60000.0
HR          50000.0  55000.0      NaN      NaN      NaN
Tech            NaN      NaN  70000.0  75000.0      NaN

In [19]:
empleados_data = {
    'ID_Empleado': [101, 102, 103, 104, 105],
    'Nombre': ['Juan Pérez', 'Ana Gómez', 'Luis Torres', 'Marta Díaz', 'Carlos Rivas'],
    'Departamento': ['Ventas', 'IT', 'Recursos Humanos', 'IT', 'Ventas']}

salarios_data = {
    'Codigo_Empleado': [101, 103, 104, 106], 
    'Salario': [50000, 62000, 58000, 70000],
    'Moneda': ['USD', 'USD', 'USD', 'USD']}

dfEmpleados_data = pd.DataFrame(empleados_data)
dfSalarios_data = pd.DataFrame(salarios_data)

mergeTwoDataframes = pd.merge(dfEmpleados_data, dfSalarios_data, how='inner', left_on='ID_Empleado', right_on='Codigo_Empleado')

print(mergeTwoDataframes)

   ID_Empleado       Nombre      Departamento  Codigo_Empleado  Salario Moneda
0          101   Juan Pérez            Ventas              101    50000    USD
1          103  Luis Torres  Recursos Humanos              103    62000    USD
2          104   Marta Díaz                IT              104    58000    USD