In [2]:
import pandas as pd

In [3]:
# 1. Create DataFrame
data = {'Department': ['HR', 'HR', 'Tech', 'Tech', 'Finance'], 
        'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'], 
        'Salary': [50000, 55000, 70000, 75000, 60000]}
df = pd.DataFrame(data)

# 2. Group by Department and calculate average salary
avg_salary = df.groupby('Department')['Salary'].mean()

# 3. Find department with highest total salary
highest_dept = df.groupby('Department')['Salary'].sum().idxmax()

# 4. Add a Bonus column
bonus_salary = []
for index, row in df.iterrows():
    bonus_salary.append(row['Salary'] + avg_salary[row['Department']]*.1)

df['bonus'] = bonus_salary

print(df)

  Department Employee  Salary    bonus
0         HR    Alice   50000  55250.0
1         HR      Bob   55000  60250.0
2       Tech  Charlie   70000  77250.0
3       Tech    David   75000  82250.0
4    Finance      Eve   60000  66000.0

In [4]:
avg_salary_gp = df.groupby('Department')
for key, item in avg_salary_gp:
        print(item,"\n\n")

  Department Employee  Salary    bonus
4    Finance      Eve   60000  66000.0


  Department Employee  Salary    bonus
0         HR    Alice   50000  55250.0
1         HR      Bob   55000  60250.0


  Department Employee  Salary    bonus
2       Tech  Charlie   70000  77250.0
3       Tech    David   75000  82250.0

In [5]:
dataset = pd.read_csv(r'C:\Users\Carlo\OneDrive\Documents\Python\datasetPruebaPandas.csv')

dfDataset = pd.DataFrame(dataset)

avg_per_meal = dfDataset.groupby('time')['total_bill'].mean().reset_index()

print(avg_per_meal)

     time  total_bill
0  Dinner   20.797159
1   Lunch   17.168676

In [11]:
max_per_sex = dfDataset.groupby('sex')['tip'].max()

print(max_per_sex)
print()
print("Tips for female were:",max_per_sex['Female'])
print()
print("Tips for male were:",max_per_sex['Male'])

sex
Female     6.5
Male      10.0
Name: tip, dtype: float64

Tips for female were: 6.5

Tips for male were: 10.0