Source = https://pandas.pydata.org/docs/reference/index.html

In [5]:
import pandas as pd

In [6]:
# 1. Create DataFrame
data = {'A': [1, 3, 5], 'B': [2, 4, 6]}
df = pd.DataFrame(data)

print(df)

   A  B
0  1  2
1  3  4
2  5  6

In [7]:
# 2. Multiply column A by 2
df['A'] = df['A'].apply(lambda x: x * 2)

# 3. Add 10 to column B
df['B'] = df['B'].apply(lambda x: x + 10)

# 4. Create column C as sum of A and B
df['C'] = df['A'] + df['B']

print(df)

    A   B   C
0   2  12  14
1   6  14  20
2  10  16  26

In [29]:
# 1. Create DataFrame with duplicates
data = {'Name': ['Alice', 'Bob', 'Alice', 'Charlie', 'Bob','Alice'], 
        'Age': [25, 30, 25, 35, 30, 30], 
        'Salary': [50000, 60000, 50000, 70000, 60000, 55000]}
df = pd.DataFrame(data)

# 2. Remove duplicate rows
df_no_duplicates = df.drop_duplicates(inplace=True, ignore_index=True, subset=['Name','Age'], keep='last')

# 3. Keep last occurrence of each duplicate
df_last_occurrence = df.drop_duplicates(keep='last')

print(df)

      Name  Age  Salary
0    Alice   25   50000
1  Charlie   35   70000
2      Bob   30   60000
3    Alice   30   55000

### Parameter of drop_duplicates

In [32]:
inplace=True #modify the original dataframe
keep='last' # keep the latest row of duplicates
keep='first' # keep the newest row of duplicates
ignore_index=True # reset the index of the new dataset after changes
subset=[''] # Specify where apply the drop, if you write multiple parameters it will works as double match required

In [46]:
# 1. Create DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Salary': [50000, 60000, 70000]}
df = pd.DataFrame(data)

# 2. Save to CSV
df.to_csv('employees.csv', index=False, float_format='%.2f')

# 3. Load CSV
df_loaded = pd.read_csv('employees.csv')

# 4. Save to Excel
#df.to_excel('employees.xlsx', index=False)

# 5. Load Excel
df_excel_loaded = pd.read_excel('employees.xlsx')


print(df_loaded, df_excel_loaded, sep="\n\n")

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000

### read_csv parameters

In [48]:
sep="/" # to split the data
na_rep="Ola k ace" # fill all the NaN values with
columns=[''] # specify a list of the names of the columns you want to export
header=True # could be True, False or a List, True or False is to specify if you want to export the headers, the list is to replace the headers
float_format='%.2f' # every float data will get a format that you decide
index=False # to not export the index as a column
index_label='ID' # how to name the index column if you export it.