In [93]:
import pandas as pd

In [94]:
dataset = pd.read_csv(r'C:\Users\Carlo\OneDrive\Documents\Python\datasetPruebaPandas.csv')

dfDataset = pd.DataFrame(dataset)
print(dfDataset.sample(5))

     total_bill   tip     sex smoker   day    time  size
91        22.49  3.50    Male     No   Fri  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
148        9.78  1.73    Male     No  Thur   Lunch     2
63        18.29  3.76    Male    Yes   Sat  Dinner     4
201       12.74  2.01  Female    Yes  Thur   Lunch     2

In [95]:
firstQuery = dfDataset.query("smoker=='Yes' and size==2")
print(firstQuery)

     total_bill   tip     sex smoker  day    time  size
58        11.24  1.76    Male    Yes  Sat  Dinner     2
60        20.29  3.21    Male    Yes  Sat  Dinner     2
61        13.81  2.00    Male    Yes  Sat  Dinner     2
62        11.02  1.98    Male    Yes  Sat  Dinner     2
69        15.01  2.09    Male    Yes  Sat  Dinner     2
..          ...   ...     ...    ...  ...     ...   ...
234       15.53  3.00    Male    Yes  Sat  Dinner     2
236       12.60  1.00    Male    Yes  Sat  Dinner     2
237       32.83  1.17    Male    Yes  Sat  Dinner     2
240       27.18  2.00  Female    Yes  Sat  Dinner     2
241       22.67  2.00    Male    Yes  Sat  Dinner     2

[66 rows x 7 columns]

In [96]:
secondQuery = dfDataset.query("total_bill > 16")[['total_bill','sex','size']]
print(secondQuery)

     total_bill     sex  size
0         16.99  Female     2
2         21.01    Male     3
3         23.68    Male     2
4         24.59  Female     4
5         25.29    Male     4
..          ...     ...   ...
239       29.03    Male     3
240       27.18  Female     2
241       22.67    Male     2
242       17.82    Male     2
243       18.78  Female     2

[148 rows x 3 columns]

In [97]:
thirdQuery = dfDataset[['tip']].fillna(0)
dfDataset['tip'] = thirdQuery
fourthQuery = dfDataset.query("tip == 0")

print(fourthQuery)

    total_bill  tip     sex smoker  day    time  size
8        15.04  0.0    Male     No  Sun  Dinner     2
28       21.70  0.0    Male     No  Sat  Dinner     2
39       31.27  0.0    Male     No  Sat  Dinner     3
51       10.29  0.0  Female     No  Sun  Dinner     2
59       48.27  0.0    Male     No  Sat  Dinner     4
66       16.45  0.0  Female     No  Sat  Dinner     2

### Feature Engineering

In [111]:

tipRate = []
for i in dfDataset.iterrows():
    if i[1]['tip']/i[1]['total_bill'] <= 0.07:
        tipRate.append('bad tip')
    elif i[1]['tip']/i[1]['total_bill'] > 0.07 and i[1]['tip']/i[1]['total_bill'] < 0.25:
        tipRate.append('good tip')
    else:
        tipRate.append('Excellent tip')
    
    
dfDataset['tip_rate'] = tipRate
print(dfDataset)

     total_bill   tip     sex smoker   day    time  size  tip_rate
0         16.99  1.01  Female     No   Sun  Dinner     2   bad tip
1         10.34  1.66    Male     No   Sun  Dinner     3  good tip
2         21.01  3.50    Male     No   Sun  Dinner     3  good tip
3         23.68  3.31    Male     No   Sun  Dinner     2  good tip
4         24.59  3.61  Female     No   Sun  Dinner     4  good tip
..          ...   ...     ...    ...   ...     ...   ...       ...
239       29.03  5.92    Male     No   Sat  Dinner     3  good tip
240       27.18  2.00  Female    Yes   Sat  Dinner     2  good tip
241       22.67  2.00    Male    Yes   Sat  Dinner     2  good tip
242       17.82  1.75    Male     No   Sat  Dinner     2  good tip
243       18.78  3.00  Female     No  Thur  Dinner     2  good tip

[244 rows x 8 columns]

In [113]:
fifthQuery = dfDataset.query("tip_rate == 'Excellent tip'")
print(fifthQuery)

     total_bill   tip     sex smoker   day    time  size       tip_rate
67         3.07  1.00  Female    Yes   Sat  Dinner     1  Excellent tip
93        16.32  4.30  Female    Yes   Fri  Dinner     2  Excellent tip
109       14.31  4.00  Female    Yes   Sat  Dinner     2  Excellent tip
149        7.51  2.00    Male     No  Thur   Lunch     2  Excellent tip
172        7.25  5.15    Male    Yes   Sun  Dinner     2  Excellent tip
178        9.60  4.00  Female    Yes   Sun  Dinner     2  Excellent tip
183       23.17  6.50    Male    Yes   Sun  Dinner     4  Excellent tip
221       13.42  3.48  Female    Yes   Fri   Lunch     2  Excellent tip
232       11.61  3.39    Male     No   Sat  Dinner     2  Excellent tip